<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo_bergzeit.svg" alt="Bergzeit">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Contact</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link basket" routerLink="/cart">
            <img src="/assets/img/cart.svg" alt="cart" width="24" height="24">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
