<!-- Page Content -->
<div class="container">

  <div class="row products-section">

    <div class="col-lg-3">
      <input type="text" id="search-product" [(ngModel)]="searchProduct" placeholder="Search for product..">
      <div class="list-group">
        <ul class="category-list">
          <li>{{'Skiing' | uppercase}}</li>
          <li>{{'Mountaineering' | uppercase}}</li>
          <li>{{'Climbing' | uppercase}}</li>
          <li>{{'Running' | uppercase}}</li>
          <li>{{'Hiking' | uppercase}}</li>
          <li>{{'Biking' | uppercase}}</li>
          <li>{{'Camping' | uppercase}}</li>
        </ul>
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="row goods">

        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of (products | async) | filter : searchProduct">
          <div class="card h-100" (click)="previewProduct(product)">
            <a><img class="card-img-top" src="{{product.img}}" alt="product"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{ product.name }}</a>
              </h4>
              <h5>{{ product.price | currency:'USD' }}</h5>
              <p class="card-text">{{ product.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              <button class="add-item" [ngClass]="{'item-disabled': !product.available}" (click)="onAddToCart(product)" [disabled]="!product.available">Add to basket</button>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
  </div>
  <!-- /.container -->
</footer>
