#search-product{
  border: 1px solid rgba(0,0,0,.125);
  padding: 5px;
  margin: 1.5rem 0;
  border-radius: calc(.25rem - 1px);
}
.goods{
  margin: 1.5rem 0;
}
.products-section{
  padding-top: 80px;
}
.btn-buy{
  float: right;
}
.card-title a{
  color: #343535;
  display: block;
  font-weight: 500;
  min-height: 38px;
  text-decoration: none;
}
.add-item{
  float: right;
  font-size: .875rem;
  color: #fff;
  background-color: #3a444e;
  padding: 12px 15px;
  font-family: sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.basket{
  cursor: pointer;
  align-self: center;
}

.add-item:disabled{
  cursor: not-allowed;
}

.item-disabled{
  color: grey;
}

.category-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc((100% - 1250px)/ 2);
  padding: 20px 0;
}
.category-list li {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  height: 44px;
  width: 230px;
  position: relative;
}
.category-list li:hover {
  color: #57c555;
}
.card{
  cursor: pointer;
}

