<div class="form_row">
  <label>Sort by</label>
  <select class="is_sort_select" [(ngModel)]="orderProduct">
     <option value="price">Price High - Low</option>
     <option value="name">Product Name</option>
     <option value="quantity">Quantity</option>
  </select>
</div>
<table class="items-list">
  <tbody><tr>
    <th>&nbsp;</th>
    <th>Product name</th>
    <th>Product price</th>
    <th>Quantity</th>
    <th>Total</th>
  </tr>
  <!--Item-->
  <tr class="item first" *ngFor="let item of cart | orderBy: orderProduct; let i = index " [appHighlight]="color" >
    <td class="thumb"><a href="shop-single-item-v1.html"><img src="" alt=""></a></td>
    <td class="name"><a href="shop-single-item-v1.html">{{item.name}}</a></td>
    <td class="price">{{item.price | currency:'USD'}}</td>
    <td class="qnt-count">
      <a class="incr-btn" (click)="decrement(item)">-</a>
      <input class="quantity form-control" type="text" [value]="item.quantity" disabled>
      <a class="incr-btn" (click)="increment(item)">+</a>
    </td>
    <td class="total">{{item.totalPrice}} $</td>
    <td class="delete"><i class="icon-delete" (click)="removeCartProduct(i)">x</i></td>
  </tr>
  <!--Item-->
  </tbody>
</table>






