select.is_sort_select {
  width: 25%;
  font-size: 1.125rem;
  font-weight: 400;
  color: #57c655;
  padding: 6px 30px 6px 20px;
  background-color: transparent;
  align-self: center;
  border: 1px solid #57c655;
  height: 40px;
  margin: 10px 0 30px 0;
  outline: none;
}

.form_row label {
  font-weight: 600;
  margin-right: 10px;
  font-size: 1rem;
  flex: 1 0 auto;
}

table.items-list{
  width: 100%;
  max-width: 820px;
  border-collapse: collapse;
  margin-bottom: 24px;
}
table.items-list th{
  font-size: 0.875em;
  font-weight: normal;
  padding: 0;
  color: #292c2e;
}
table.items-list td{
  padding: 8px 0 12px 0;
  vertical-align: middle;
  font-size: 1.125em;
  font-weight: 300;
  position: relative;
}
table.items-list .item{
  border-bottom: 1px solid #b2b2b2;
}
table.items-list td.thumb{
  width: 22.4%;
}
table.items-list td.name a{
  font-size: 1.5em;
  font-weight: 300;
  color: #607d8b;
  text-decoration:none;
}
table.items-list td.price, .shopping-cart table td.total{
  font-size: 1.125em;
  font-weight: 700;
  color: #292c2e;
}
table.items-list td.qnt-count .incr-btn{
  display: inline-block;
  width: 20px;
  height: 38px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #292c2e !important;
  color: #fff;
  text-align: center;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 34px;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
table.items-list td.qnt-count .form-control{
  display: inline-block;
  width: 36px;
  height: 38px;
  margin: 0 2px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}
table.items-list td.delete i {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  color: #607d8b;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
