.review-section{
  padding-top: 80px;
}
input.form-control{
  width: 48%;
  margin: 5px;
  border-radius: 0;
}
input.form-control:first-child{
  float:left;
}
#comment{
  width: 97.5%;
  margin: 5px;
  border-radius: 0;
}
.btn-review{
  font-size: .875rem;
  color: #fff;
  background-color: #57c655;
  padding: 12px 15px;
  font-family: sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin-left: 5px;
}
