<section class="shopping-cart">
  <div class="container">
    <div class="row">

      <!--Items List-->
      <div class="col-lg-9 col-md-9">
        <h2 class="title">Shopping cart</h2>
        <table class="items-list">
          <tbody><tr>
            <th>&nbsp;</th>
            <th>Product name</th>
            <th>Product price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
          <!--Item-->
          <tr class="item first" *ngFor="let item of cart; let i = index" [appHighlight]="color">
            <td class="thumb"><a href="shop-single-item-v1.html"><img src="" alt=""></a></td>
            <td class="name"><a href="shop-single-item-v1.html">{{item.name}}</a></td>
            <td class="price">{{item.price}} $</td>
            <td class="qnt-count">
              <a class="incr-btn" (click)="decrement(item)">-</a>
              <input class="quantity form-control" type="text" [value]="item.quantity" disabled>
              <a class="incr-btn" (click)="increment(item)">+</a>
            </td>
            <td class="total">{{item.totalPrice}} $</td>
            <td class="delete"><i class="icon-delete" (click)="remove(i)">x</i></td>
          </tr>
          <!--Item-->
          </tbody>
        </table>
      </div>

      <!--Sidebar-->
      <div class="col-lg-3 col-md-3">
        <h3>Cart totals</h3>
        <form class="cart-sidebar" method="post">
          <div class="cart-totals">
            <table>
              <tbody><tr>
                <td>Cart subtotal</td>
                <td class="total align-r"> $</td>
              </tr>
              <tr class="devider">
                <td>Shipping</td>
                <td class="align-r">Free shipping</td>
              </tr>
              <tr>
                <td>Order total</td>
                <td class="total align-r"> $</td>
              </tr>
              </tbody></table>

            <input type="submit" class="btn btn-black btn-block" name="to-checkout" value="Proceed to checkout">
          </div>

          <a class="panel-toggle" href="#calc-shipping"><h3>Calculate shipping</h3></a>
          <div class="hidden-panel calc-shipping" id="calc-shipping">
            <div class="form-group">
              <div class="select-style">
                <select name="country">
                  <option>Australia</option>
                  <option>Belgium</option>
                  <option>Germany</option>
                  <option>United Kingdom</option>
                  <option>Switzerland</option>
                  <option>USA</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="state">State/ province</label>
              <input type="text" class="form-control" id="state" name="state" placeholder="State/ province">
            </div>
            <div class="form-group">
              <label class="sr-only" for="postcode">Postcode/ ZIP</label>
              <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Postcode/ ZIP">
            </div>
            <input type="submit" class="btn btn-primary btn-sm btn-block" name="update-totals" value="Update totals">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

