.shopping-cart{
  margin-top: 80px;
}
h2.title, h3{
  font-weight: 300;
  color: #292c2e;
  font-size: 1.75em;
  margin-top: 8px;
  margin-bottom: 24px;
}
.shopping-cart table{
  width: 100%;
  max-width: 820px;
  border-collapse: collapse;
  margin-bottom: 24px;
}
.shopping-cart table th{
  font-size: 0.875em;
  font-weight: normal;
  padding: 0;
  color: #292c2e;
}
.shopping-cart table td{
  padding: 8px 0 12px 0;
  vertical-align: middle;
  font-size: 1.125em;
  font-weight: 300;
  position: relative;
}
.shopping-cart table .item{
  border-bottom: 1px solid #b2b2b2;
}
.shopping-cart table td.thumb{
  width: 22.4%;
}
.shopping-cart table td.name a{
  font-size: 1.5em;
  font-weight: 300;
  color: #607d8b;
  text-decoration:none;
}
.shopping-cart table td.price, .shopping-cart table td.total{
  font-size: 1.125em;
  font-weight: 700;
  color: #292c2e;
}
.shopping-cart table td.qnt-count .incr-btn{
  display: inline-block;
  width: 20px;
  height: 38px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #292c2e !important;
  color: #fff;
  text-align: center;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 34px;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.shopping-cart table td.qnt-count .form-control{
  display: inline-block;
  width: 36px;
  height: 38px;
  margin: 0 2px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}
.shopping-cart table td.delete i {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  color: #607d8b;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

