<section class="shopping-cart">
  <div class="container">
    <div class="row">

      <!--Items List-->
      <div class="col-lg-9 col-md-9">
        <h2 class="title">Shopping cart</h2>

        <app-cart-item [cart]="cart" (cartItem)="removeCartProduct($event)" (cartItemUpdate)="updateCartProduct($event)"></app-cart-item>

      </div>

      <!--Sidebar-->
      <div class="col-lg-3 col-md-3">
        <h3>Cart totals</h3>
        <form class="cart-sidebar" method="post">
          <div class="cart-totals">
            <table>
              <tbody><tr>
                <td>Cart subtotal: </td>
                <td class="total align-r"> {{subtotal}} $</td>
              </tr>
              <tr class="devider">
                <td>Shipping</td>
                <td class="align-r">Free shipping</td>
              </tr>
              </tbody></table>

            <input type="submit" class="btn btn-black btn-block" name="to-checkout" value="Proceed to checkout">
          </div>

          <a class="panel-toggle" href="#calc-shipping"><h3>Calculate shipping</h3></a>
          <div class="hidden-panel calc-shipping" id="calc-shipping">
            <div class="form-group">
              <div class="select-style">
                <select name="country">
                  <option>Australia</option>
                  <option>Belgium</option>
                  <option>Germany</option>
                  <option>United Kingdom</option>
                  <option>Switzerland</option>
                  <option>USA</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="state">State/ province</label>
              <input type="text" class="form-control" id="state" name="state" placeholder="State/ province">
            </div>
            <div class="form-group">
              <label class="sr-only" for="postcode">Postcode/ ZIP</label>
              <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Postcode/ ZIP">
            </div>
            <input type="button" class="btn btn-primary btn-sm btn-block" name="update-totals" value="Clean cart" (click)="cleanCart()">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

