<!-- Page Content -->
<div class="container">

  <div class="row products-section">

    <div class="col-lg-3">

      <div class="list-group">

      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="row goods">

        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of products">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{item.img}}" alt="product"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{ item.name }}</a>
              </h4>
              <h5>${{ item.price }}</h5>
              <p class="card-text">{{ item.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              <button class="add-item" (click)="onAddToCart(item)">Add to basket</button>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
  </div>
  <!-- /.container -->
</footer>
